<mat-card>
  <mat-card-header>
    <div fxLayout="row">
      <div>
        <h3>Filtro</h3>
      </div>
    </div>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <form [formGroup]="formFilter" class="formulario">
      <div class="div-operacao" fxLayout.xs="column">
        <mat-form-field class="campo_flex tamanho_100; campo-operacao">
          <mat-label>Operações:</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. alteração" #input>
        </mat-form-field>

        <!-- <button mat-raised-button color="warn" (click)="abrirSnack()"> Filtrar </button> -->
        <button mat-raised-button color="primary" class="botao-novo" matTooltip="Cadastro de uma Nova Operação."> Novo </button>
      </div>

    </form>
  </mat-card-content>

  <mat-card>
    <mat-card-header>
      <h3>Resultado</h3>
    </mat-card-header>

    <mat-card-content  class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
          <!-- Status Column -->
          <ng-container matColumnDef="in_Situacao_Registro">
            <th mat-header-cell *matHeaderCellDef></th>
            <!-- <td mat-cell *matCellDef="let row"> {{row.in_Situacao_Registro}} </td> -->
            <td mat-cell *matCellDef="let row">
              <div *ngIf="row.in_Situacao_Registro; then thenBlock else elseBlock"></div>

              <ng-template #thenBlock>
                <mat-slide-toggle color="primary" checked="true"></mat-slide-toggle>
              </ng-template>

              <ng-template #elseBlock>
                <mat-slide-toggle  color="primary" checked="false"></mat-slide-toggle>
              </ng-template>
            </td>
          </ng-container>

          <!-- ID Column -->
          <!-- <ng-container matColumnDef="operacao_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.operacao_id}} </td>
          </ng-container> -->

          <!-- Nome Column -->
          <ng-container matColumnDef="ds_Nome_Operacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let row"> {{row.ds_Nome_Operacao}} </td>
          </ng-container>

          <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"><mat-icon>edit</mat-icon>{{row.operacao_id}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nenhum dado correspondente a operação: "{{ input.value }}", foi encontrado.</td>
          </tr>
      </table>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</mat-card>
