<mat-card>
  <mat-card-header>
    <div fxLayout="row">
      <div>
        <h3>Filtro</h3>
      </div>
    </div>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <form [formGroup]="formFilter" class="formulario">
      <div class="div-operacao" fxLayout.xs="column">
        <mat-form-field class="campo_flex tamanho_100; campo-operacao">
          <mat-label>Operações:</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. alteração" #input>
        </mat-form-field>

        <button  class="botao-novo" mat-raised-button matTooltip="Cadastro de uma Nova Operação." (click)="GravarOperacao()"> Novo </button>
      </div>

    </form>
  </mat-card-content>

  <mat-card>
    <mat-card-header>
      <h3>Resultado</h3>
    </mat-card-header>

    <!--
      Se inativou a operação, vai apagar os registros das tabelas
      FUNCOESOPERACOES e PERFISFUNCOES que ele faz parte agora
      se ativou a operação não vai realiza nenhuma exclusão.

      Se inativou a função, vai apagar os registros das tabelas
      FUNCOESOPERACOES e PERFISFUNCOES que ele faz parte agora
      se ativou a função não vai realiza nenhuma exclusão.

      Se inativou o perfil, vai apagar o registro da tabela
      PERFISFUNCOES que ele faz parte agora se ativou o perfil não
      vai realiza nenhuma exclusão.fxFlex.gt-md=""
    -->
    <mat-card-content  class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
          <!-- Status Column -->
          <ng-container matColumnDef="in_Situacao_Registro">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <div *ngIf="row.in_Situacao_Registro; then thenBlock else elseBlock"></div>

              <ng-template #thenBlock>
                <mat-slide-toggle color="primary" checked="true"
                (change)="alterarStatusOperacao(row.operacao_id)"></mat-slide-toggle>
              </ng-template>

              <ng-template #elseBlock>
                <mat-slide-toggle  color="primary" checked="false"
                (change)="alterarStatusOperacao(row.operacao_id)"></mat-slide-toggle>
              </ng-template>
            </td>
          </ng-container>

          <!-- Nome Column -->
          <ng-container matColumnDef="ds_Nome_Operacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let row"> {{row.ds_Nome_Operacao}} </td>
          </ng-container>

          <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <div *ngIf="row.in_Situacao_Registro; then thenEdit else elseNotEdit"></div>

              <ng-template #thenEdit>
                <mat-icon matTooltip="Editar Operação" class="cursor"
                (click)="AlterarOperacao(row.operacao_id)">edit</mat-icon>
              </ng-template>

              <ng-template #elseNotEdit>
                <mat-icon style="filter: opacity(0.5); cursor: none;"></mat-icon>
              </ng-template>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nenhum dado correspondente a operação: "{{ input.value }}", foi encontrado.</td>
          </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</mat-card>
